@font-face {
    font-family: 'patrick';
    src: url("../fonts/patrickhand-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bowlby';
    src: url("../fonts/bowlby-regular.ttf");
    font-weight: normal;
    font-style: normal;
}