@font-face {
    font-family: 'patrick';
    src: url("../fonts/patrickhand-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'orbitron';
    src: url("../fonts/orbitron-bold.ttf");
    font-weight: normal;
    font-style: normal;
}