
textarea, select, input, button { outline: none; }


.compose-form-row{
    border-bottom: 1px rgb(212, 210, 204) solid;
    padding: 5px;
}
.email-compose-title {
    background-color: #8E8D8A ;
    color: white;
    letter-spacing: 1px;
    padding: 10px;
    margin: 0;
}

.compose-input{
    border: none;
    width: 90%;
    background-color: #ececec;

}

