.user-note-container{
    max-width: 420px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    margin: 15px;
    break-inside: avoid;
    font-size: 1.3rem;
    transition: .3s;
}

.user-note-container:hover{
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}



.note-features {
    width: 80%;
}

.note-features i {
    cursor: pointer;
    transition: .3s;
}

.fas.fa-thumbtack.pinned{
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.fas.fa-trash-alt.colored{
    color: rgb(85, 84, 84);
}

.note-icons-container i {
  font-size: 1.5rem;
  
}
.note-color-picker {
    margin-top: 10px;
    visibility: hidden;
    transition: .3s;
    opacity: 0;
}

.note-color-picker.shown {
    visibility: visible;
    opacity: 1;
}

.note-color-picker i {
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: .3s;
    
}

.note-color-picker i:hover {
    cursor: pointer;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.note-color-picker i:nth-child(1) {
    color: #ffa350;
}

.note-color-picker i:nth-child(2) {
    color: #f78888;
}

.note-color-picker i:nth-child(3) {
    color: #f3d250;
}

.note-color-picker i:nth-child(4) {
    color: #90ccf4;
}

.note-color-picker i:nth-child(5) {
    color: #4caf50;
}