.user-note-container{
    max-width: 420px;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: -1px 3px 5px 0px rgba(204,204,204,1);
    margin: 15px;
    break-inside: avoid;
    font-size: 1.3rem;
}


.note-features {
    width: 80%;
}

.note-features i {
    cursor: pointer;
    transition: .3s;
}

.fas.fa-thumbtack.pinned{
    color: red;
}

.fas.fa-trash-alt.colored{
    color: rgb(85, 84, 84);
}

.note-icons-container i {
  font-size: 1.5rem;
  
}
.note-color-picker {
    margin-top: 10px;
    z-index: 1;
}
.note-color-picker i {
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.note-color-picker i:hover {
    cursor: pointer;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.note-color-picker i:nth-child(1) {
    color: #d8c3a5;
}

.note-color-picker i:nth-child(2) {
    color: #8e8d8a;
}

.note-color-picker i:nth-child(3) {
    color: #e98074;
}

.note-color-picker i:nth-child(4) {
    color: #e85a4f;
}

.note-color-picker i:nth-child(5) {
    color: #fa291a;
}