.note-add-container {
    margin: 0 auto;
    width: 40%;
}

.note-input {
  font-size: 1.7rem;
  border-radius: 1rem;
  padding: 4px;
}

.note-selection {
    width: 40%;
}

.note-selection i {
  font-size: 1.7rem;
  cursor: pointer;
}

.note-selection .fas.fa-font.active {
 
  color: #51a255;
}

.note-selection .far.fa-image.active {
  color: #03A9F4;
}

.note-selection .fas.fa-video.active {
  color: #ff0000;
}

.note-selection .fas.fa-list.active {
  color: #009688;
}


@media (max-width: 1142px) {
  .note-input {
    font-size: 1.4rem;
  }
  .note-selection i {
    font-size: 1.4rem;
  }


}

@media (max-width: 1006px){
  .note-add-container {
    width: 45%;
  }

}

@media (max-width: 873px){
  .note-add-container {
    flex-direction: column;
    align-items: center;
  }
  .note-input {
    margin-bottom: 10px;
  }
  

}

@media (max-width: 575px){
  .note-add-container {
    width: 55%;
  }
}


@media (max-width: 400px){
  .note-add-container {
    width: 70%;
  }
  .note-selection {
    width: 50%;
  }
}